body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffafcc;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f3f4f6;
}

footer {
    background-color: #ffafcc;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
